body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.divimg {

  margin: 10px auto;
  margin-top: 20px;
  margin-left: 4%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.img {
  float: left;
  border: 1px solid black;
  transition: transform 0.3s;
  border-radius: 0.2cm;
}

.img:hover {
  transform: scale(1.04);
}

.divv {
  margin: 10px auto;
  margin-top: 20px;
  margin-left: 4%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  font-size: 1.2em;
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

div {
  float: left;
  width: 35%;
}

input[type="date"],
input[type="number"],
input[type="tel"],
input[type="text"],
select {
  width: 60%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #555;
}

/*   Start global   */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial, tahoma;
  list-style: none;
  /*    outline: 1px solid brown;*/
}

nav {
  height: 80px;
  background-color: #222;
  border-bottom: 1px solid #555;
}
.logo {
  padding: 20px;
  float: left;
  color: white;
  padding-left: 60px;
  padding-top: 30px;
}
.list-item {
  float: right;
  margin-right: 25px;
  margin-top: 17px;
}
.list-item li {
  float: left;
  padding: 13px 13px;
  font-size: 17px;
  border-radius: 3px;
  transition: all 0.7s ease-in-out;
}
.list-item li a {
  color: #eee;
}
.list-item li:hover {
  background-color: rgb(65, 48, 48);
}

/*   End navigation bar   */

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

td {
  white-space: nowrap;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}
